{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>
      {% block page_title %}
        {% if page_title != "" %}
          Wikiuma | {{ page_title }}
        {% else %}
          Wikiuma        
        {% endif %}
      {% endblock page_title %}
    </title>

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/main.scss'%}" />
    {% endcompress %}

    <script src="{% static '/bootstrap/dist/js/bootstrap.min.js'%}"></script>
</head>

<body>
{% block header %} {% endblock %}
{% block content %} CONTENT {% endblock %}
{% block after_content %}{% endblock %}

{% block extra_script %}{% endblock %}

</body>

</html>